@use 'src/styles/mixins/_media-query.scss' as device;

.mat-toolbar {
  justify-content: space-evenly;

  @include device.media-handset() {
    justify-content: space-between;
  }

  @include device.media-tablet() {
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    align-items: center;
  }
}

.nav-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
}

.logout {
  width: 100%;
}
