<notes-container>
  <section class="container">
    <mat-form-field appearance="outline">
      <mat-label>Создание тега</mat-label>
      <input
        matInput
        placeholder="Введите новый тег"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
      <mat-hint>Для добавления тега нажмите ENTER</mat-hint>
    </mat-form-field>
    <mat-chip-grid #chipGrid>
      @for (tag of tagsEntities(); track tag.id) {
        <mat-chip-row (removed)="remove(tag)" [editable]="true" (edited)="edit(tag, $event)">
          {{ tag.tagName }}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-row>
      }
    </mat-chip-grid>
  </section>
</notes-container>
