@use '@angular/material' as mat;

$heading-font-family: "-apple-system, 'JetBrains Mono', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;";

// $custom-typography: mat.define-typography-config(
//   $display-4:
//     mat.define-typography-level(112px, $font-family: $heading-font-family),
//   $display-3:
//     mat.define-typography-level(56px, $font-family: $heading-font-family),
//   $display-2:
//     mat.define-typography-level(45px, $font-family: $heading-font-family),
//   $display-1:
//     mat.define-typography-level(34px, $font-family: $heading-font-family),
//   $headline:
//     mat.define-typography-level(24px, $font-family: $heading-font-family),
//   $title: mat.define-typography-level(20px, $font-family: $heading-font-family),
// );

// $first-custom-typography: mat-typography-config(
//   $font-family: "Quicksand, sans-serif",
//   $display-4: mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
//   $display-3: mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
//   $display-2: mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
//   $display-1: mat-typography-level(34px, 40px, 400),
//   $headline: mat-typography-level(24px, 32px, 400),
//   $title: mat-typography-level(20px, 32px, 500),
//   $subheading-2: mat-typography-level(16px, 28px, 400),
//   $subheading-1: mat-typography-level(15px, 24px, 400),
//   $body-2: mat-typography-level(14px, 24px, 500),
//   $body-1: mat-typography-level(14px, 20px, 400),
//   $caption: mat-typography-level(12px, 20px, 400),
//   $button: mat-typography-level(14px, 14px, 500),
//   $input: mat-typography-level(inherit, 1.125, 400)
// );

$custom-typography: mat.define-typography-config(
  $font-family: $heading-font-family,
);
